@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply container mx-auto px-5 lg:px-0;
}

/* navbar */
.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #6366f1;
  position: absolute;
  left: 0;
  bottom: 0;
  /* transform: translateX(0); */
  transition: 0.3s;
}
.nav-link:hover::after {
  width: 100%;
}

.course {
  transition: all 0.5s ease;
}

.course:hover {
  transform: scale(1.02);
}

.img::before {
  content: "";
  display: block;
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.faq-content {
  height: 0;
  overflow: hidden;
}

.faq-content-show {
  height: auto;
  padding-left: 8px;
  border-left: 2px solid #6366f1;
  max-height: 9999px;
}
